body{
    background-color: black;
}
.container {
    background-color: #ffffff;
    width: 600px;
    min-height: 600px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 100px auto;
    text-align: center;
    margin-top: 50px;
}

.input-task {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.input-task input {
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    text-align: left;
    margin-left: 15px;
}

.button-task{
    background-color: rgb(0, 0, 0);
    padding: 5px 10px;
    color: white;
    outline: none;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 4px 4px 4px gray;
    transition: 0.5s;
    font-size: 18px;
}

.button-task:hover{
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
    color: black;
}
.task{
    background-color: #5D5656;
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin: 20px auto;
    padding: 15px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    gap: 150px;
    transition: 0.5s;
}
.task:hover{
    background-color: #2d2a2a;
    color: white;
}

#t{
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid rgb(41, 40, 40) ; 
    padding: 5px 10px;   
    outline: none;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgb(38, 28, 28);
    transition: 0.5s;
    font-size: 18px;
    margin: 0 auto;
display: inline-block;
}
#t:hover{
    background-color: #ffffff;
    color: black;
}

#tt{
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid rgb(41, 40, 40) ; 
    padding: 5px 10px;   
    outline: none;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgb(38, 28, 28);
    transition: 0.5s;
    font-size: 18px;
    margin: 5px auto;
display: inline-block;
}
#tt:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}